/*Header*/
.iconBulb {
  height: 8vh;
}
.headerRow {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.headerText {
  font-size: 11px;
}

/*Photo Section*/
.mainTitle {
  font-family: Pacifico, Arial;
  font-size: 3em;
  margin-top: 5%;
}
.mainText{
  font-family: Krub, Arial;
}
.mainPic {
  background-image: url("flowers.jpg");
  background-size: cover;
  background-position: top;
  color:rgb(155, 142, 146);
  display: flex;
  flex-direction: column;
  align-items: center;

}
.photo-row {
  height: 40rem;
  color: pink;
}
.textDesc{
  display: flex;
  justify-content: center;
}

/*Text Center*/
.bodyRow{
  height: 20rem;
  background-color: rgb(155, 142, 146);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto Slab;
}
.bodyText {
  display: flex;
  align-items: center;
}
.bodyTextFont {
  line-height: 122%;
  text-align: center
}

/*Three Images*/
.smallPicCont{
  margin-top: 7em;
  margin-bottom: 7em;
}

.smallPics{
  height: 12em;
  background-position: center;
  background-size: 100%;
  outline: solid 14px white;
  display: flex;
  align-items: center:
}
.smallPicRow{
  display: flex;
  justify-content: center;
}
.smallPicOne{
background-image: url("succulents.jpg");
}
.smallPicTwo{
  background-image: url("hydrangia.jpg");
}
.smallPicThree{
 background-image: url("groundCover.jpg")
}

/*Footer*/
.footerCool {
  background-color: black;
  color: white;
  height: 15vh;
  font-family: Krub;
  font-size: 16px;
  bottom: 0;
}
.footerRow {
  background-color: black;
  display: flex;
  align-items: center;
}

.f-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.contact {
  padding: 1.5rem;
}

.addr {
  padding: 1.5rem;
}

.p-m {
  margin: .5rem;
}
